<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTTP Otters › 404 Error</title>
	<link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/897577302232301629/897607673955102740/otter_1f9a6.png"
	 type="image/gif">
	<link rel="stylesheet" type="text/css" href="404.css" />
</head>

<body>
	<h1 class="main">
		<br>
  <img src="https://cdn.discordapp.com/attachments/897577302232301629/897607673955102740/otter_1f9a6.png" height="20px"/> › Oh... Couldn't find this page! Error 404.
  </h1>
  <div id="buttons">
    <div style="cursor:pointer" onclick="back()">Back</div>
    </div>
<script>
  const back = () => window.location.href = "/";
</script>
</body>
</html>