<!DOCTYPE html>
<html lang="en">

<head>
	<meta property="og:site_name" content="otter.httpstudio.tech/">
	<meta name="title" content="HTTP Status otters">
	<meta name="description" content="Api for http otters.">
	<meta name="msapplication-TileColor" content="#CDAA7D" />
	<meta name="theme-color" content="#CDAA7D">
	<link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/897577302232301629/897607673955102740/otter_1f9a6.png"
	 type="image/gif">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	 crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="style.css" />

	<title>HTTP otters</title>
  </head>

<body>
	<h1 class="main">
    <br>
    <img src="https://cdn.discordapp.com/attachments/897577302232301629/897607673955102740/otter_1f9a6.png" height="20px"/> › HTTP Otters</h1>
  <h3 class='text-light'>
    <center>
    <br>
		Usage:<pre><code>https://otter.httpstudio.tech/[code_status]</code></pre><br><br><br>
    </h3>
    </center>
  <div class="card" style="width: 18rem;">
  <img src="https://i.imgur.com/xKR9DwY.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">100</h5>
    <p class="card-text">Continue.</p>
    <a href="https://otter.httpstudio.tech/100" class="btn btn-secondary">100</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://cdn.discordapp.com/attachments/897577302232301629/897608348877353000/unknown.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">200</h5>
    <p class="card-text">OK</p>
    <a href="https://otter.httpstudio.tech/200" class="btn btn-secondary">200</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://images-ext-2.discordapp.net/external/8hTHck17FD5wC9q13FNOUmdzWiCpdPWOR4kHlnxMR04/https/otter.httpstudio.tech/413?width=488&height=375" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">413</h5>
    <p class="card-text">Request Enity Too Large</p>
    <a href="https://otter.httpstudio.tech/413" class="btn btn-secondary">413</a>
  </div>
</div>
</body>
</html>

