    body {
      background-color: #696969;
    }
    .main {
      text-align: center;
      font-family: Courier New;
    }
    .card-body {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    border-radius: 20px;
}
.card {
  margin-top: 20px;
  background-color: #949494;
  width: 18rem;
  margin-left: 20px;
  background-clip: border-box;
  border-radius: 20px;
  float: left;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;

}
.card:hover {
  box-shadow: 0 0 12px 0.5px #b3b3b3;
  transform: translateY(-0.30em);
}
.card-img-top {
  border-radius: 20px;
}
.btn:hover {
  box-shadow: 0 0 12px 0.5px #cecece;
  transform: translateY(-0.20em);

}
